ion-list {
	padding-top: 0;
	min-height: 0;
	overflow: auto;
}

ion-list-header {
	--background: var(--ion-color-primary);
	--color: var(--ion-color-primary-contrast);
	position: sticky;
	top: 0;
	z-index: 10;
}

ion-item {
	cursor: pointer;
	&.selected {
		--background: silver;
	}
}

.error-item {
	color: red;
}
